* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.add {
  width: 40px;
  height: 40px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 800;
  bottom: 20px;
  right: 30px;
  border-radius: 50%;
  background: -webkit-linear-gradient(to right, #2b6eff, #6441ff);
  background: linear-gradient(to right, #2b6eff, #6441ff);
  cursor: pointer;
}
.addImgModal {
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 11;
  background: rgba(0, 0, 0, 0.86);
  display: none;
  flex-direction: column;
  align-items: center;
}
.addInfoDiv {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.addInfoDiv i {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  padding: 10px;
}
.addInfoDiv i:active {
  scale: 0.99;
}
.addInfoDiv button {
  width: 60%;
}
.addInfoDiv input {
  width: 90%;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
  color: white;
  justify-content: space-between;
  background: -webkit-linear-gradient(to right, #2b6eff, #6441ff);
  background: linear-gradient(to right, #2b6eff, #6441ff);
}
nav a {
  cursor: pointer;
  font-weight: 700;
  text-shadow: 0px 4px 2px black;
}
.nav_link {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 40px;
}
.user_info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 40px;
}
.user_info p {
  background: rgba(0, 0, 0, 0.256);
  padding: 5px;
  border-radius: 5px;
}
.MyCards {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.AllCards{
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.f-card {
  background-color: white;
  width: 400px;
  border: 1px solid #d0d1d5;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 10px;
  padding: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.header {
  margin-bottom: 17px;
}
.co-logo {
  float: left;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}
.co-name > a {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration: none;

  margin-bottom: 2px;
}

.co-name > a:hover {
  text-decoration: underline;
}

.reference-thumb {
  width: 100%;
  height: 249px;
}

.social {
  margin-top: 12px;
}
.social-buttons {
  font-family: Helvetica;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  border-top: 1px solid #e5e5e5;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.social-buttons .likeDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.social-buttons .likeDiv i {
  padding: 0px 6px;
  cursor: pointer;
}
.social-buttons .likeDiv .likeSpan{
  cursor: pointer;
  padding: 0px 2px;
  transition: 0.4s ease-in-out;
}
.social-buttons .likeDiv .likeSpan:hover{
  text-shadow: 2px 2px 5px #000000;
}

.social-buttons span i{
  padding: 0px 5px;
}